$delay: 0.5s;

.rules__item {
  will-change: transform;

  &::before {
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }

  &::after {
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  p {
    animation-duration: 0.5s, 0.75s;
    animation-timing-function: ease-in, cubic-bezier(0, 0, 0.4, 1);
    animation-fill-mode: both;
  }

  @for $i from 1 to 5 {
    &:nth-child(#{$i}) {
      &::before {
        animation-delay: (($i - 1) * $delay);
      }

      &::after {
        animation-delay: (($i - 1) * $delay + 0.1);
      }

      p {
        animation-delay: (($i - 1) * $delay + 0.15), (($i - 1) * $delay + 0.1);
      }
    }
  }
}

.rules__item.active {
  &::before {
    animation-name: popOut;
  }

  &::after {
    animation-name: appear;
  }

  p {
    animation-name: appear, moveLeft;
  }
}

.rules__link {
  opacity: 0;
  animation-duration: 0s;
  animation-fill-mode: both;

  &::before {
    left: 100%;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }

  .rules__link-text  {
    opacity: 0;
    animation-duration: 0.35s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.35s;
  }
}

.rules__link.active {
  animation-name: appear;

  &::before {
    animation-name: growLeft;
  }

  .rules__link-text {
    animation-name: appear;
  }
}
